@import "_nullstyle";
@import "_generals";

// @import "_nav";
@import "_module";

.main {
}

.modules {
}

.modules__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.modules__item {
}
